@media (max-width: 500px) {

    body {
        display: grid;
        font-family: Helvetica Neue;
        grid-gap: 1em;
        grid-template-columns: 1fr;
        padding: 1em;
    }

    .bovenlijnmenu {
        align-items: center;
        border-bottom: thin solid #aac1c3;
        display: flex;
        justify-content: space-between;
        padding-bottom: 1em;
    }

    .menu {
        height: 2.5em;
    }

    .logo {
        height: 6em;
    }

    .taalenzoek {
        height: 3em;
    }

    nav {
        display: none;
    }

    h1 {
        font-size: 1.5em;
    }

    fieldset {
        display: none;
    }

    select {
        background-color: #8d2a7f;
        color: white;
        margin-bottom: 2em;
    }

    h3 {
        margin-bottom: 0;
    }

    .willekeurigknop {
        display: none;
    }

    .filterenwillekeur {
        float: right;
        height: 3.5em;
        margin-top: -2em;
    }

    .ontdekverhaal {
        background-color: #9d1981;
        color: white;
        padding: 1em 2em;
    }

    h4 {
        background-color: #fade73;
        color: black;
        font-size: 11.5pt;
        margin-top: -1.05em;
        padding: 0.1em 3em;
        position: absolute;
        text-align: center;
    }

    .sterpaarsachtergrond {
        height: 1em;
    }

    .stergrijs {
        height: 1em;
    }

    .leesmeerontdek {
        border-bottom: solid white;
        padding: 0.5em;
        text-align: right;
    }

    .verhaalverhaal {
        padding: 1em 2em;
    }

    .leesmeer {
        color: #9d1c80;
        border-bottom: solid #9d1c80;
        padding-bottom: 0.5em;
        text-align: right;

    }

    .sterwitachtergrond {
        height: 1em;
    }
  
     p {
        font-size: 14pt;
  }

}

@media (min-width: 500px) and (max-width: 900px) {


    body {
        font-family: Helvetica Neue;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr;
        padding: 1em;

    }

    header {
        grid-column: 1/3;
    }

    .bovenlijnmenu {
        align-items: center;
        border-bottom: thin solid #aac1c3;
        display: flex;
        justify-content: space-between;
        padding-bottom: 1em;
    }

    h1 {
        font-size: 1.75em;
    }

    .sorterenn {
        grid-column: 1/3;
    }

    .sorterennn {
        grid-column: 1/3;
    }

    .menu {
        height: 3em;
    }

    .logo {
        height: 7em;
    }

    .taalenzoek {
        height: 3.5em;
    }

    nav {
        display: none;
    }

    fieldset {
        display: none;
    }

    select {
        background-color: #8d2a7f;
        color: white;
        margin-bottom: 2em;

    }

    h3 {
        margin-bottom: 0;
    }

    .willekeurigknop {
        display: none;
    }

    .filterenwillekeur {
        float: right;
        height: 4em;
        margin-top: -2em;
    }

    .ontdekverhaal {
        background-color: #9d1981;
        color: white;
        padding: 1em 2em;

    }

    h4 {
        background-color: #fade73;
        color: black;
        font-size: 11.5pt;
        margin-top: -1.05em;
        padding: 0.1em 3em;
        position: absolute;
        text-align: center;
    }

    .sterpaarsachtergrond {
        height: 1.5em;
    }

    .stergrijs {
        height: 1.5em;
    }

    .leesmeerontdek {
        border-bottom: solid white;
        padding: 0.5em;
        text-align: right;
    }

    .verhaalverhaal {
        padding: 1em 2em;

    }

    .leesmeer {

        border-bottom: solid #9d1c80;
        color: #9d1c80;
        padding-bottom: 0.5em;
        text-align: right;
    }

    .sterwitachtergrond {
        height: 1.5em;
    }
  
    p {
        font-size: 15pt;
  }

}

@media (min-width: 900px) {

    body {
        display: grid;
        font-family: Helvetica Neue;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1em;
        row-template-columns: auto;

    }

    header {
        grid-column: 1/4;
    }

    .bovenlijnmenu {
        align-items: center;
        border-bottom: thin solid #aac1c3;
        display: flex;
        justify-content: space-between;
        padding-bottom: 1em;
    }

    .menu {
        height: 3em;
        visibility: hidden;
    }

    .logo {
        height: 9em;
    }

    .taalenzoek {
        height: 4em;
    }

    nav {
        color: #aac1c3;
        letter-spacing: 0.3em;
        text-align: center;
        word-spacing: 6em;

    }

    h1 {
        font-size: 2em;
    }

    .sorterennn {
        grid-column: 1/4;
    }

    .sorterenn {
        grid-column: 1/2;
    }

    fieldset {
        grid-column: 1/4;
    }

    form {
        grid-column: 1/4;
    }



    .filterenwillekeur {
        display: none;
    }

    select {
        background-color: #8d2a7f;
        color: white;
        margin-bottom: 2em;

    }

    h3 {
        margin-bottom: 0;
    }


    .willekeurigknop {
        background-color: #9d1981;
        border: solid;
        border-color: #9d1981;
        border-width: 2px;
        color: white;
        display: inline-grid;
        float: right;
        margin: 1em;
        margin-top: -1em;
        padding: 0.25em 0.5em;
        text-align: center;
    }

    .ontdekverhaal {
        background-color: #9d1981;
        color: white;
        padding: 1em 2em;
    }

    h4 {
        background-color: #fade73;
        color: black;
        font-size: 11.5pt;
        margin-top: -1.05em;
        padding: 0.1em 3em;
        position: absolute;
        text-align: center;
    }

    .sterpaarsachtergrond {
        height: 1.5em;
    }

    .stergrijs {
        height: 1.5em;
    }

    .leesmeerontdek {
        border-bottom: solid white;
        padding: 0.5em;
        text-align: right;
    }

    .verhaalverhaal {
        padding: 1em 2em;

    }

    .leesmeer {
        border-bottom: solid #9d1c80;
        color: #9d1c80;
        padding-bottom: 0.5em;
        text-align: right;
    }

    .sterwitachtergrond {
        height: 1.5em;
    }
  
    p {
        font-size: 16pt;
  }
}